@keyframes accordionSlideDown {
  0% {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordionSlideUp {
  0% {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

.NavigationMenuViewport {
  will-change: height, width;
}

.NavigationMenuViewport[data-state="open"] {
  animation: heightAnimationIn 0.3s ease;
}

.NavigationMenuViewport[data-state="closed"] {
  animation: heightAnimationOut 0.3s ease;
}

@keyframes heightAnimationIn {
  0% {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-navigation-menu-viewport-height);
    opacity: 1;
  }
}

@keyframes heightAnimationOut {
  0% {
    height: 200px;
    opacity: 1;
  }

  to {
    opacity: 0;
    height: 0;
  }
}
